@import 'loaders.css/loaders.min.css';

body {
    margin: 0;
}

.App {
    text-align: center;
    background-color: #1E1E31;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: auto;
    font-family: 'Yu Gothic', sans-serif;
}

.header {
    display: flex;
    background-color: #F8F5EB;
    color: red;
}

.header h2 {
    margin: auto;
}

.header FontAwesome {
    position: absolute;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.loader-active {
    transform: scale(2);
}


/* Search Criteria CSS */

.search-container {
    display: flex;
    flex-wrap: wrap;
    border: 5px solid white;
    position: relative;
    padding: 2%;
    margin: 5%;
    background-color: #F8F5EB;
    color: #1E1E31;
    justify-content: center;
    flex-direction: column;
}

.search-parameter-container {
    display: flex;
    height: 3rem;
    margin-bottom: 2rem;
}

.search-parameter-label {
    width: 40%;
    text-align: right;

}

.search-parameter-input {
    text-align: left;
}

#search-btn {
    margin: auto;
    background-color: #c40000;
    color: white;
    width: 15%;
    height: 2rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    padding: 0 5px 0 5px;
    height: 3rem;
    padding: 0;
}

.react-datepicker__tab-loop {
    display: inline-block;
}

.date-tooltip {
    display: inline-block;
    position: relative;
    top: -1em;
    padding-left: 5px;
    font-size: 12px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    background: white;
    padding: 5px;
    width: 100px;
}

[class*="date-tooltip"]:hover .tooltip-text{
    visibility: visible;
    animation: fade-in 0.5s linear
}

@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 100; }
}

/* Region Menu */
.region-select-container {
    position: relative;
    display: inline-block;
    text-align: start;
    width: 100%;
}

.menu-arrow {
    padding-left: 5px;
}

.region-list-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    height: 500px;
}

.region-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;
}

.region-menu-btn {
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    color: white;
}

.region-name {
    background-color: var(--background-color);
}

.region-btn {
    font-family: inherit;
    border: 0;
    padding: 0;
    text-align: left;
    width: 100%;
    background-color: inherit;
    color: white;
}

/****************/

/*****************************/

.results-container {
    width: 75%;
}

.results-list {
    padding: 0;
}

.popular-videos-header {
    text-align: left;
}

.video-result-container {
    display: flex;
    border: 10px solid white;
}

.video-data-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
    text-align: left;
    font-size: 2vw;
}

.video-list-element {
    list-style-type: none;
    margin-bottom: 5%;
}

.video-title {
    width: 75%;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.video-views {
    width: 75%;
    margin: auto;
}

.video-thumbnail {
    width: 100%;

}

.video-link {
    width: 50%;
}

.stat-box-container {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.stat-box {
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border: 5px solid white;
}

.all-stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.bar-chart-container {
    margin: 5% 0;
    width: 80%;
    height: 50%;
}

canvas {
    margin: auto;
    background-color: #f8f5eb;
}


