.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  align-content: flex-start;
}

.search-header {
    width: 100%;
}

.results-container {
    width: 75%;
}

.video-list-element-container {
    display: flex;
}

.video-data-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 50%;
}

.video-list-element { 
    list-style-type: none;
}

.vid-title {
    width: 50%;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.vid-views {
    width: 50%;
    margin: auto;
}

.vid-thumbnail {
    width:50%;
}

.overview-stats-container {
    width: 25%;
    display: flex;
}