@import 'loaders.css/loaders.min.css';

body {
    margin: 0;
}

.App {
    text-align: center;
    background-color: #1E1E31;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: white;
    overflow: auto;
    font-family: 'Yu Gothic', sans-serif;;
}

.header {
    background-color: #F8F5EB;
    color: red;
}

.header-container {
    display: flex;
    max-width: 80%;
}

.logo {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: .5rem;
    content: url('images/favicon.png');
}

.header h2 {
    margin: auto;
    font-family: Roboto, sans-serif;
    align-content: center;
    font-size: 1em;
}

.header FontAwesome {
    position: absolute;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: auto;
}

.loader-active {
    transform: scale(1.5);
}

.search-container {
    flex-wrap: wrap;
    position: relative;
    padding: 2%;
    margin: 5%;
    background-color: #F8F5EB;
    color: #1E1E31;
    justify-content: center;
    flex-direction: column;
}

.search-parameter-container {
    display: flex;
    margin-bottom: 1rem;
}

.search-parameter-label {
    width: 40%;
    text-align: right;
}

.search-parameter-input {
    text-align: left;
    width: 50%;
}

#search-btn {
    margin: auto;
    background-color: #c40000;
    color: white;
    height: 2rem;
}

.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
    padding: 0 5px 0 5px;
    padding: 0;
    width: 90%;
    display: inline-block;
}

.react-datepicker__tab-loop {
    display: inline-block;
}

.react-datepicker-popper {
    top: 1rem;
}

.date-tooltip {
    display: inline-block;
    position: relative;
    top: -1em;
    font-size: 12px;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    font-size: 12px;
    background: white;
    padding: 5px;
    width: 100px;
    left: -50px;
    display: block;
}

[class*="date-tooltip"]:hover .tooltip-text {
    visibility: visible;
    animation: fade-in 0.5s linear
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

.region-select-container {
    position: relative;
    display: inline-block;
    text-align: start;
    width: 100%;
}

.menu-arrow {
    padding-left: 5px;
}

.region-list-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    height: 500px;
}

.region-ul {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 100%;
}

.region-menu-btn {
    font-family: inherit;
    border: 0;
    padding: 0;
    background-color: inherit;
    color: white;
}

.video-results-list-header {
    width: 100%;
    text-align: start;
    border-bottom: 1px solid gray;
    margin-bottom: 0;
}

.results-list {
    padding: 0;
}

.popular-videos-header {
    text-align: left;
}

.video-result-container {
    display: flex;
    flex-wrap: wrap;
    background-color: #F8F5EB;
    color: #1E1E31;
}

.video-data-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: left;
    font-size: .75rem;
    justify-content: space-evenly;
}

.video-list-element {
    list-style-type: none;
    margin-bottom: 5%;
}

.video-title {
    width: 90%;
    margin: auto;
    font-size: 1rem;
}

.video-channel-views {
    width: 90%;
    margin: auto;
}

.video-thumbnail {
    width: 100%;
}

.video-link-container {
    width: 100%;
}

.video-link {
    width: 100%;
    cursor: pointer;
    display: inline-flex;
}

.stat-box-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.stat-box {
    width: 45%;
    background-color: #F8F5EB;
    color: #1E1E31;
}

.all-stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.bar-chart-container {
    margin: 5% 0;
    width: 100%;
    height: 50%;
}

canvas {
    margin: auto;
    background-color: #f8f5eb;
}

@media only screen and (min-width: 768px) {

    .logo {
        content: url('images/youtube_starter_kit_logo_768.png');
        margin-left: 1rem;
    }

    .header h2 {
        font-size: 1.5em;
        margin: auto 0 auto 1rem;
        flex: none;
    }

    .loader-active {
        transform: scale(2);
    }

    .search-container {
        display: flex;
    }

    .search-parameter-container {
        height: 3rem;
        margin-bottom: 2rem;
    }

    .search-parameter-input {
        width: auto;
    }

    #search-btn {
        width: 15%;
    }

    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .react-datepicker__input-container input {
        height: 2.75em;
        width: auto;
    }

    .date-tooltip {
        padding-left: 5px;

    }

    .video-data-container {
        font-size: 1.25rem;
    }

    .video-title {
        align-content: center;
        justify-content: center;
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1024px) {
    .results-container {
        width: 100%;
    }

    ul {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 350px);
        justify-content: space-between;
        grid-gap: 1em;

    }
}

@media only screen and (min-width: 1440px) {

    .search-parameter-input {
        font-size: .5em;
    }

    .react-datepicker-wrapper,
    .react-datepicker__input-container,
    .react-datepicker__input-container input {
        height: 3.3em;
    }
}

@media only screen and (min-width: 2560px) {
    .logo {
        content: url('images/youtube_starter_kit_logo_1440.png');
    }

}